<ion-header-bar class="bar-stable">
<div class="buttons">
    <button class="button button-icon ion-ios-arrow-back" ng-click="$ionicGoBack()">
    </button>
  </div>
  <h1 class="title">提现记录</h1>
  
</ion-header-bar>

<ion-view view-title="用户登录">
<ion-content class="acc-record">
	<div class="acc-record-info">
		<h3>1. 郝晓伟<span>提现：1.00元 </span> </h3>
		<h4>中国招商银行：6222********9938</h4>	
		<p>提现编号：txh00000003<span>2016-05-06 10:09:54</span></p>
		<h5>处理中</h5>
	</div>
	<div class="acc-record-info">
		<h3>2. 郝晓伟<span>提现：1.00元 </span> </h3>
		<h4>中国招商银行：6222********9938</h4>	
		<p>提现编号：txh00000003<span>2016-05-06 10:09:54</span></p>
		<h5 class="acc-record-h5cg">交易成功</h5>
	</div>
	<div class="acc-record-info">
		<h3>3. 郝晓伟<span>提现：1.00元 </span> </h3>
		<h4>中国招商银行：6222********9938</h4>	
		<p>提现编号：txh00000003<span>2016-05-06 10:09:54</span></p>
		<h5>提交失败</h5>
	</div>
</ion-content>
</ion-view>

