<ion-header-bar class="bar-stable">
<div class="buttons">
    <button class="button button-icon ion-ios-arrow-back" ng-click="$ionicGoBack()">
    </button>
  </div>
  <h1 class="title">选择收货地址</h1>
  
</ion-header-bar>

<ion-view view-title="用户登录">
<ion-content class="address">
		<h2 ng-click="courier()">+添加配送员信息<i class="ion-chevron-right"></i></h2>
		<h1>配送员信息</h1>
		<div class="list">
			<a class="item" href="#">郝晓伟 <span>18701552814</span><i class="ion-trash-a"></i><i class="ion-compose"></i></a>
			<a class="item" href="#">郝晓伟 <span>18701552814</span><i class="ion-trash-a"></i><i class="ion-compose"></i></a>
			<a class="item" href="#">郝晓伟 <span>18701552814</span><i class="ion-trash-a"></i><i class="ion-compose"></i></a>
		</div>
</ion-content>
</ion-view>

