<ion-header-bar class="bar-stable">
<div class="buttons">
    <button class="button button-icon ion-ios-arrow-back" ng-click="$ionicGoBack()">
    </button>
  </div>
  <h1 class="title">幻灯片管理</h1>
  
</ion-header-bar>

<ion-view view-title="幻灯片管理">
<ion-content class="advertisement">
	<button class="button button-energized" ng-click="ad_add()">+添加幻灯片</button>
	<p class="adver-q"><img src="images/raw_1457495078.png">店内主打招牌菜系<span>序号1</span><i class="ion-compose"></i><i class="ion-trash-a"></i></p>
	<p><img src="images/raw_1457495078.png">店内主打招牌菜系<span>序号2</span><i class="ion-compose"></i><i class="ion-trash-a"></i></p>
	<p class="adver-q"><img src="images/raw_1457495078.png">店内主打招牌菜系<span>序号3</span><i class="ion-compose"></i><i class="ion-trash-a"></i></p>
</ion-content>
</ion-view>