<ion-header-bar class="bar-stable">
<div class="buttons">
    <button class="button button-icon ion-ios-arrow-back" ng-click="$ionicGoBack()">
    </button>
  </div>
  <h1 class="title">资金明细</h1>
  
</ion-header-bar>

<ion-view view-title="用户登录">
<ion-content class="check">
	<div class="check-info">
		<h3>2016-10-03 09：10：13</h3>
		<p class="checkp-q">【订单总额】</p>
		<span>+80.0元</span>
	</div>
	<div class="check-info">
		<h3>2016-10-03 09：10：13</h3>
		<p>生日蛋糕10.寸，共3人同时享用送5个叉子及刀子生日蛋糕10.寸，共3人同时</p>
		<div class="border-check"></div>
		<h4>来自：18500608752 &nbsp&nbsp&nbsp收益：<label>4.7元</label></h4>
		<span>+80.0元</span>
	</div>
	<div class="check-info">
		<h3>2016-10-03 09：10：13</h3>
		<p>生日蛋糕10.寸</p>
		<div class="border-check"></div>
		<h4>来自：18500608752 &nbsp&nbsp&nbsp收益：<label>4.7元</label></h4>
		<span>+80.0元</span>
	</div>
</ion-content>
</ion-view>

