<ion-header-bar class="bar-stable">
<div class="buttons">
    <button class="button button-icon ion-ios-arrow-back" ng-click="$ionicGoBack()">
    </button>
  </div>
  <h1 class="title">消费明细</h1>
  
</ion-header-bar>

<ion-view view-title="用户管理">
<ion-content>
    <div class="content"> 
      <ul class="list">
        <li class="item"> 
           <div class="user-box" ng-click="order_details()">
              <p class="time">2016-12-12 13：45</p>
              <p class="info">共计5种商品</p>
              <div class="price">¥42</div>
           </div>
        </li>
        <li class="item">
           <div class="user-box" ng-click="order_details()">
              <p class="time">2016-12-12 13：45</p>
              <p class="info">共计5种商品</p>
              <div class="price">¥42</div>
           </div>
        </li>
        <li class="item">
           <div class="user-box" ng-click="order_details()">
              <p class="time">2016-12-12 13：45</p>
              <p class="info">共计5种商品</p>
              <div class="price">¥42</div>
           </div>
        </li>
        <li class="item">
           <div class="user-box" ng-click="order_details()">
              <p class="time">2016-12-12 13：45</p>
              <p class="info">共计5种商品</p>
              <div class="price">¥42</div>
           </div>
        </li>
        <li class="item">
           <div class="user-box" ng-click="order_details()">
              <p class="time">2016-12-12 13：45</p>
              <p class="info">共计5种商品</p>
              <div class="price">¥42</div>
           </div>
        </li>
      </ul>  
    </div>
</ion-content> 
</ion-view>

