<ion-header-bar class="bar-stable">
<div class="buttons">
    <button class="button button-icon ion-ios-arrow-back" ng-click="$ionicGoBack()">
    </button>
  </div>
  <h1 class="title">外卖订单详情页</h1>
  
</ion-header-bar>

<ion-view view-title="外卖订单详情页">
<ion-content class="details-box">
	<div class="details-bh">
		<h3><span>【首单】</span>订单编号：420160303105523</h3>
		<h4><span>下单日期：2016-03-03 10:55:23</span>订单总额：¥42</h4>
	</div>
	<div class="details-bh">
		<h1>基本信息</h1>
		<p><span>联系电话：18500608752</span>订单总额：¥42</p>
		<p>收货地址：软通动力有限公司</p>
		<p>配送时间：2016.5.9 12：30 </p>
		<p>备注：少放辣椒</p>
	</div>
	<div class="details-bh">
		<h1><button class="button button-dark" ng-click="logistics()">更改配送方式</button>配送方式</h1>
		<p>配送员：张三    18500608752</p>
	</div>
	<h1 class="details-h1"><button class="button button-balanced">打印小票</button>订单信息<h1>
	<div class="details-bh">
		<h6><label>￥290</label><span>X1</span>牛肉石锅饭<i class="ion-social-vimeo"></i><img src="images/yhq.png"></h6>
		<h6><label>￥29</label><span>X1</span>牛肉石锅饭<img src="images/yhq.png"></h6>
		<h6><label>￥29</label><span>X1</span>牛肉石锅饭<i class="ion-social-vimeo"></i></h6>
		<h6><label>￥2</label><span>X1</span>米饭</h6>
		<div class="border"></div>
		<h6><label>￥3</label>餐盒费</h6>
		<h6><label>￥5</label>配送费</h6>
		<div class="border"></div>
		<h6><label class="org_h6">-￥5</label><i class="ion-social-vimeo"></i>金卡会员享9.8折优惠</h6>
		<h6><label class="org_h6">-￥5</label><img src="images/yhq.png">金卡会员享9.8折优惠</h6>
		<h6><label class="org_h6">总计：￥95</label>订单 ¥97元 - 优惠¥5</h6>
	</div>
</ion-content>
</ion-view>

