<ion-header-bar class="bar-stable">
<div class="buttons">
    <button class="button button-icon ion-ios-arrow-back" ng-click="$ionicGoBack()">
    </button>
  </div>
  <h1 class="title">分销管理</h1>
  
</ion-header-bar>

<ion-view view-title="分销管理">
<ion-content> 
    <div class="content"> 
      <ul class="list">
        <li class="distribution">  
           <div class="time">2016-03-03 10:55:23</div>
           <div>
              <div class="dtitle">15存蛋糕</div>
              <div class="info">
                收货人信息：郝晓伟 18500608752<br>
                收货地址：北京北京市软件园二期软通动力有限公司
              </div> 
              <div class="price">¥42</div>
           </div>
           <div class="benefit">
            来自：18500608752&nbsp;&nbsp;&nbsp;&nbsp;冻结收益：4.7元
            <button class="button button-positive sendmessage" ng-click="sendmessage()">确认订单</button>
           </div> 
        </li> 
        <li class="distribution">  
           <div class="time">2016-03-03 10:55:23</div>
           <div>
              <div class="dtitle">15存蛋糕</div>
              <div class="info">
                收货人信息：郝晓伟 18500608752<br>
                收货地址：北京北京市软件园二期软通动力有限公司
              </div> 
              <div class="price">¥42</div>
           </div>
           <div class="benefit">
            来自：18500608752&nbsp;&nbsp;&nbsp;&nbsp;冻结收益：4.7元
            <button class="button button-positive sendmessage" ng-click="sendmessage()">确认订单</button>
           </div> 
        </li>
      </ul>
    </div>
</ion-content> 
</ion-view>

