<ion-header-bar class="bar-stable">
<div class="buttons">
    <button class="button button-icon ion-ios-arrow-back" ng-click="$ionicGoBack()">
    </button>
  </div>
  <h1 class="title">会员等级</h1>
  
</ion-header-bar>

<ion-view view-title="会员等级">
<ion-content class="grade">
	<button class="button button-block button-assertive" ng-click="gradeadd()">+添加会员等级</button>
	<div class="grade-info">
		<h3>银卡会员</h3>
		<p>累计消费满1000元享9.8折<i class="ion-trash-a"></i><i class="ion-compose"></i></p>
	</div>
	<div class="grade-info">
		<h3>银卡会员</h3>
		<p>累计消费满1000元享9.8折<i class="ion-trash-a"></i><i class="ion-compose"></i></p>
	</div>
</ion-content>
</ion-view>

