<ion-header-bar class="bar-stable">

  <h1 class="title">主页</h1>
  
</ion-header-bar>

<ion-view>
<ion-content>
 <div class="content">
      <div>   
        <div class="sy_code">
          <a href="#">
            <dl>
              <dt><img src="images/code.png"></dt>
              <dd>店铺二维码</dd>
            </dl>
          </a>
           <a href="#/tabs/order">
             <dl>
              <dt><img src="images/sydd.png"></dt>
              <dd>订单管理</dd>
            </dl>
          </a>
           <a href="#">
             <dl>
              <dt><img src="images/sykf.png"></dt>
              <dd>新消息</dd>
            </dl>
          </a>
          <div class="clear"></div>
        </div>
        <div class="sy_zhinfo">
          <h3><span>+121112.00</span><label>+233.8</label></h3>
          <h4><span>累计收入</span><span>本日收入</span></h4>
          <a href="#/tabs/check">查看</a>
          <div class="clear"></div>
        </div>
        <div class="bor_index">
              <a href="#/tabs/account">
                <dl>
                  <dt><img src="images/qb.png" alt=""></dt>
                  <dd>我的账户</dd>
                </dl>
              </a>

              <a href="#/tabs/user_management">
                <dl>
                  <dt><img src="images/sy_yh.png" alt=""></dt>
                  <dd>用户管理</dd>
                </dl>
              </a>

              <a href="#/tabs/productmanagement">
                <dl class="bor_r">
                  <dt><img src="images/sy_yh.png" alt=""></dt>
                  <dd>商品分类管理</dd>
                </dl>
              </a>
              <a href="#/tabs/product">
                <dl>                                                  
                  <dt><img src="images/sy_yh.png" alt=""></dt>
                  <dd>商品管理</dd>
                </dl>
              </a>
              
              <a href="#/tabs/coupon">
                <dl>
                  <dt><img src="images/syjhj.png" alt=""></dt>
                  <dd>优惠劵管理</dd>
                </dl>
              </a>

              <a href="#/tabs/grade">
                <dl class="bor_r">
                  <dt><img src="images/hydj.png" alt=""></dt>
                  <dd>会员等级设置</dd>
                </dl>
              </a>
            
              <a href="#/tabs/store_settings">
                <dl>
                  <dt><img src="images/sydp.png" alt=""></dt>
                  <dd>店铺设置</dd>
                </dl>
              </a>

              <a href="#/tabs/sendannouncement">
                <dl>
                  <dt><img src="images/symm.png" alt=""></dt>
                  <dd>发布公告</dd>
                </dl>
              </a>
              <a href="#/tabs/advertisement">
                <dl class="bor_r">
                  <dt><img src="images/sycd.png" alt=""></dt>
                  <dd>店铺广告</dd>
                </dl>
              </a>
            
              <a href="#/tabs/authentication">
                <dl>
                  <dt><img src="images/syqb.png" alt=""></dt>
                  <dd>提现</dd>
                </dl>
              </a>

              <a href="#/tabs/account_settings">
                <dl>
                  <dt><img src="images/symm.png" alt=""></dt>
                  <dd>设置提现密码</dd>
                </dl>
              </a>
              <a href="#/tabs/reservation">
                <dl class="bor_r">
                  <dt><img src="images/sy_yh.png" alt=""></dt>
                  <dd>预约管理</dd>
                </dl>
              </a>
              <a href="#/tabs/distribution">
                <dl class="bor_r">
                  <dt><img src="images/syqb.png" alt=""></dt>
                  <dd>分销管理</dd>
                </dl>
              </a>
              <a href="#/template">
                <dl class="bor_r">
                  <dt><img src="images/syqb.png" alt=""></dt>
                  <dd>首页模板</dd>
                </dl>
              </a>
              <a href="#/tabs/change_password">
                <dl class="bor_r">
                  <dt><img src="images/syqb.png" alt=""></dt>
                  <dd>修改密码</dd>
                </dl>
              </a>
              <a href="##">
                <dl class="bor_r">
                  <dt><img src="images/syqb.png" alt=""></dt>
                  <dd>退出登录</dd>
                </dl>
              </a>
        </div>
        <h3 class="index_h3">客服电话：400-101-9977</h3>
        <div style="height:10px;"></div>
      </div> 
    </div>
</ion-content>
</ion-view>