<ion-header-bar class="bar-stable">
<div class="buttons">
    <button class="button button-icon ion-ios-arrow-back" ng-click="$ionicGoBack()">
    </button>
  </div>
  <h1 class="title">主页</h1>
  
</ion-header-bar>

<ion-view>
<ion-content class="ddgl">
	<!-- search -->
	 <div class="has-header search-box">
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="搜索">
        </label>
      </div>
    </div>
     <p class="button_p" ><button class="button order_btn" >今日订单</button></p>
     <p class="button_p"><button class="button order_btn" >一周订单</button></p>
     <p class="button_p"><button class="button order_btn" >全部订单</button></p>
     <div class="clear"></div>
     
     <div class="list list-topics">
			<a class="item" href="#/tabs/details">
			<h3>郝晓伟<span>[首单]</span><label>下单日期：2016-03-03 10:55:23</label></h3>
     		<h4><em>订单总额：￥42 </em><span>未支付</span><label>待付款</label></h4>
			</a>
		</div>
     
     
     
     <ul class="dd-list">
     	<li>
     		<h3><a href="#/tabs/details">郝晓伟</a><span>[首单]</span><label>下单日期：2016-03-03 10:55:23</label></h3>
     		<h4><em>订单总额：￥42 </em><span>未支付</span><label>待付款</label></h4>
     		
     	</li>
     	<li>
     		
     		<h3><a href="#/tabs/details">郝晓伟</a><em>[需配送]</em><label>下单日期：2016-03-03 10:55:23</label></h3>
     		<h4><em>订单总额：￥42 </em><span>支付宝支付</span><label><!-- <button class="button button-positive">确认</button> --></label></h4>
     		
     	</li>
     	<li>
     		<h3><a href="#/tabs/details">郝晓伟</a><span>[首单]</span><em>[需配送]</em><label>下单日期：2016-03-03 10:55:23</label></h3>
     		<h4><em>订单总额：￥42 </em><span>货到付款</span><label><!-- <button class="button button-positive">选择物流</button> --></label></h4>
     	</li>
     	<li >
     		<h3><a href="#/tabs/details">郝晓伟</a><span>[首单]</span><label>下单日期：2016-03-03 10:55:23</label></h3>
     		<h4><em>订单总额：￥42 </em><span>未支付</span><label class="dd-list-wc">已完成</label></h4>
     	</li>
     	<li>
     		<h3><a href="#/tabs/details">郝晓伟</a><span>[首单]</span><label>下单日期：2016-03-03 10:55:23</label></h3>
     		<h4><em>订单总额：￥42 </em><span>未支付</span><label class="dd-list-wc">已取消</label></h4>
     	</li>
     </ul>
</ion-content>
</ion-view>