<ion-header-bar class="bar-stable">
<div class="buttons">
    <button class="button button-icon ion-ios-arrow-back" ng-click="$ionicGoBack()">
    </button>
  </div>
  <h1 class="title">添加商品</h1>
  
</ion-header-bar>

<ion-view view-title="用户登录">
<ion-content class="product_add class-add">
	<div class="content">
      	<div class="list">
        <label class="item item-input">
          <span class="input-label">商品名称:</span>
          <input type="text"  placeholder="请输入商品名称">
        </label>
        <label class="item item-input">
          <span class="input-label">商品分类:</span>
          <select>
          	<option>汤类</option>
          	<option>主食</option>
          	<option>凉菜</option>
          </select>
          <button class="button button-outline button-light" ng-click="productmanagement()">
          	管理分类
          </button>
        </label>
        <label class="item item-input">
          <span class="input-label">商品价格:</span>
          <input type="text"  placeholder="请输入商品价格">
        </label>
        <label class="item item-input">
          <span class="input-label">代理价格:</span>
          <input type="text"  placeholder="请输入代理商价格">
        </label>
        <label class="item item-input">
          <span class="input-label">计量单位:</span>
          <input type="text"  placeholder="如（个、份、盘）">
        </label>
        <label class="item item-input">
          <span class="input-label">库存:</span>
          <input type="text"  placeholder="请输入库存数量">
        </label>
        <div class="item">
          <span>标签:</span>&nbsp;
          <input type="radio" name="yy"> 无&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="radio" name="yy"> 新品&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="radio" name="yy"> 人气
        </div> 
        <div class="item">
          <span>支持外卖:</span>&nbsp;
          <input type="radio" name="wm"> 是&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="radio" name="wm"> 否
        </div>
        <div class="item">
          <span>支持上架:</span>&nbsp;
          <input type="radio" name="sj"> 是&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="radio" name="sj"> 否
        </div>
        <div class="item">
          <span>支持优惠券:</span>&nbsp;
          <input type="radio" name="yhq"> 是&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="radio" name="yhq"> 否
        </div> 
        <div class="item">
          <span>支持会员卡:</span>&nbsp;
          <input type="radio" name="hyk"> 是&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="radio" name="hyk"> 否
        </div> 
        <div class="item">
          <span>图片:</span>
          <label for="sc">上传图片</label>
          <input type="file" value="上传图片" id="sc" hidden>
        </div>
        <label class="item item-input">
          <textarea rows="10" class="in_70" placeholder="请输入商品简介"></textarea> 
        </label>
      </div>
      <div class="padding">
      	<button class="button button-outline button-stable">马上发布</button> 
      </div>
    </div>
</ion-content>
</ion-view>

