<ion-header-bar class="bar-stable">
<div class="buttons">
    <button class="button button-icon ion-ios-arrow-back" ng-click="$ionicGoBack()">
    </button>
  </div>
  <h1 class="title">预约管理</h1>
  
</ion-header-bar>

<ion-view view-title="预约管理">
<ion-content class="reservation">
	<div class="reservation-info">
		<h3>下单日期：2016-03-03 10:55:23</h3>
		<h4>郝晓伟（女士）<span>18500608752</span></h4>	
		<p>预约时间：2016-3-20 12:23:56</p>
		<div class="reser_border"></div>
		<button class="button" ng-click="">拒绝</button>
		<button class="button" ng-click="">确认</button>
		<div class="clear"></div>
	</div>
	<div class="reservation-info">
		<h3>下单日期：2016-03-03 10:55:23</h3>
		<h4>郝晓伟（女士）<span>18500608752</span></h4>	
		<p>预约时间：2016-3-20 12:23:56</p>
		<div class="reser_border"></div>
		<h5>“订单被取消：今天已约满”</h5>
	</div>
	<div class="reservation-info">
		<h3>下单日期：2016-03-03 10:55:23</h3>
		<h4>郝晓伟（女士）<span>18500608752</span></h4>
		<p>备注：留靠窗包间</p>	
		<p>预约时间：2016-3-20 12:23:56</p>
		<div class="reser_border"></div>
		<h5 class="reser-cg">预约成功</h5>
	</div>
</ion-content>
</ion-view>

